/*.Results-container {
    width: 600px;
    margin: 20px auto;
}
.Results-container h1 span {
    font-size: 20px;
    color: rgb(150,150,150);
}*/

.Results-container .button-link{
    color: white;
    text-decoration: none;
}
.Results-container {
    margin-top: 10px;
}
