input {
    width: 100%;
    display: block;
    margin: 20px 0px;
}
.SignUp-container {
    width: 300px;
    margin: 100px auto;
    border: 1px solid black;
    padding: 10px;
    
}
.SignUp-signup-btn {
    margin: 0px auto;
    display: block;

}