/*.Editor {
    width: 600px;
    margin: 20px auto;
}
.Editor-link div:last-child {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
}
.Editor-link div:nth-child(1) {
    display: inline-block;
    
    padding: 5px;
}*/
.Editor .fixed {
        margin: 10px 0px;
    }
@media screen and (min-width: 992px) {
    .Editor .fixed {
        position: fixed;
        width: 130px;
        top: 47px;
    }
}

.Editor-link a:last-child  {
    font-size: 21px;
    white-space: nowrap; 
	display: block;
	width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Editor-link div:first-child  {
    font-size: 24px;
    font-weight: bold;
}
.Editor .msg-text {
    font-size: 24px;
}
.Editor textarea {
    max-width: 100%;
    min-width: 100%;
}
.Editor .title-textarea {    
    font-size: 28px;
}
